DATASET - CLEANING AND ORGANISING

In [1]:
# We have our Linkedin Datasets stored in Google Drive.Download a single file using its public URL

In [1]:
!pip install gdown

Collecting gdown
  Downloading gdown-5.2.0-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\takbh\bda594\my_project\lib\site-packages (from gdown) (4.14.2)
Collecting filelock (from gdown)
  Using cached filelock-3.19.1-py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: requests[socks] in c:\users\takbh\bda594\my_project\lib\site-packages (from gdown) (2.32.5)
Requirement already satisfied: tqdm in c:\users\takbh\bda594\my_project\lib\site-packages (from gdown) (4.67.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\takbh\bda594\my_project\lib\site-packages (from beautifulsoup4->gdown) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\takbh\bda594\my_project\lib\site-packages (from beautifulsoup4->gdown) (4.15.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\takbh\bda594\my_project\lib\site-packages (from requests[socks]->gdown) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\takbh\bda594\my_project\lib\site-packages (from requests[socks]->gdown) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\takbh\bda594\my_project\lib\site-packages (from requests[socks]->gdown) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\takbh\bda594\my_project\lib\site-packages (from requests[socks]->gdown) (2025.8.3)
Collecting PySocks!=1.5.7,>=1.5.6 (from requests[socks]->gdown)
  Downloading PySocks-1.7.1-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: colorama in c:\users\takbh\bda594\my_project\lib\site-packages (from tqdm->gdown) (0.4.6)
Downloading gdown-5.2.0-py3-none-any.whl (18 kB)
Using cached filelock-3.19.1-py3-none-any.whl (15 kB)
Downloading PySocks-1.7.1-py3-none-any.whl (16 kB)
Installing collected packages: PySocks, filelock, gdown

   ------------- -------------------------- 1/3 [filelock]
   -------------------------- ------------- 2/3 [gdown]
   ---------------------------------------- 3/3 [gdown]

Successfully installed PySocks-1.7.1 filelock-3.19.1 gdown-5.2.0

In [3]:
import gdown

file_id = "1gTL64Ja4sigan-tn0uxkVinrONAh33Dy"  
url = f"https://drive.google.com/uc?id={file_id}"
output = "linkedin_jobs.xlsx"

In [4]:
gdown.download(url, output, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1gTL64Ja4sigan-tn0uxkVinrONAh33Dy
To: C:\Users\swast\linkedin_jobs.xlsx
100%|█████████████████████████████████████████████████████████████████████████████| 59.6M/59.6M [00:05<00:00, 10.1MB/s]

'linkedin_jobs.xlsx'

In [5]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\swast\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\swast\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)

In [6]:
import pandas as pd

df = pd.read_excel("linkedin_jobs.xlsx")
print("Shape:", df.shape)
df.head()

Shape: (28002, 26)

,url,job_posting_id,title_id,company_id,job_title,company_name,company_url,company_logo,job_location,country_code,...,application_availability,apply_link,base_salary,job_base_pay_range,job_posted_date,job_posted_time,job_poster,job_description_formatted,discovery_input,salary_standards
0,https://www.linkedin.com/jobs/view/strategic-p...,4255281355,8396.0,1989552.0,Strategic Planning Analyst,DecisionPoint Corporation,https://www.linkedin.com/company/decisionpoint...,https://media.licdn.com/dms/image/v2/C4E0BAQE2...,"Fort George G. Meade, MD",US,...,1.0,https://www.linkedin.com/jobs/view/externalApp...,"{""currency"":null,""max_amount"":null,""min_amount...",NaN,2025-06-29T09:21:16.711Z,1 week ago,"{""name"":null,""title"":null,""url"":null}","<section class=""show-more-less-html"" data-max-...","{""experience_level"":null,""job_type"":null,""remo...",NaN
1,https://www.linkedin.com/jobs/view/senior-fina...,4287647307,207.0,18860134.0,Senior Financial Analyst,Jobot,https://www.linkedin.com/company/jobot?trk=pub...,https://media.licdn.com/dms/image/v2/D560BAQFB...,"Erie, PA",NaN,...,NaN,NaN,"{""currency"":""$"",""max_amount"":120000,""min_amoun...","$100,000.00/yr - $120,000.00/yr",2025-08-25T08:23:24.452Z,1 week ago,"{""name"":null,""title"":null,""url"":null}","<section class=""show-more-less-html"" data-max-...","{""experience_level"":null,""job_type"":null,""remo...",This range is provided by Jobot. Your actual p...
2,https://www.linkedin.com/jobs/view/data-modele...,4283218074,6318.0,77005029.0,Data Modeler / Analyst,Qkare Bilgi Teknolojileri,https://tr.linkedin.com/company/qkare-bilgi-te...,https://media.licdn.com/dms/image/v2/C4D0BAQHw...,"Istanbul, Istanbul, TÃ¼rkiye",NaN,...,1.0,NaN,"{""currency"":null,""max_amount"":null,""min_amount...",NaN,2025-08-15T05:51:32.827Z,55 minutes ago,"{""name"":""Bet***AÅŸc***"",""title"":""Human Resourc...","<section class=""show-more-less-html"" data-max-...","{""country"":""TR"",""experience_level"":null,""job_t...",NaN
3,https://www.linkedin.com/jobs/view/procurement...,4289949771,3512.0,9215331.0,Procurement Practice Analyst,Accenture in India,https://in.linkedin.com/company/accentureindia...,https://media.licdn.com/dms/image/v2/D560BAQFz...,"Bengaluru, Karnataka, India",NaN,...,1.0,https://www.linkedin.com/jobs/view/externalApp...,"{""currency"":null,""max_amount"":null,""min_amount...",NaN,2025-08-26T02:15:08.897Z,8 hours ago,"{""name"":null,""title"":null,""url"":null}","<section class=""show-more-less-html"" data-max-...","{""experience_level"":null,""job_type"":null,""loca...",NaN
4,https://www.linkedin.com/jobs/view/compliance-...,4264565225,1757.0,57309.0,Compliance Analyst,UNICON International Inc.,https://www.linkedin.com/company/unicon-intern...,https://media.licdn.com/dms/image/v2/D4E0BAQG3...,"Torrance, CA",US,...,1.0,https://www.linkedin.com/jobs/view/externalApp...,"{""currency"":null,""max_amount"":null,""min_amount...",NaN,2025-07-09T07:07:57.460Z,4 hours ago,"{""name"":null,""title"":null,""url"":null}","<section class=""show-more-less-html"" data-max-...","{""experience_level"":null,""job_type"":null,""remo...",NaN

Cleaning the Dataset - Removing Duplicates and unwanted columns

In [7]:
# Check if job_posting_id exists in your dataframe
if "job_posting_id" in df.columns:
    dup_count = df["job_posting_id"].duplicated().sum()
    print("Duplicate job_posting_id rows:", dup_count)
else:
    print("⚠️ job_posting_id column not found. Try checking on job_title + company_name instead.")

Duplicate job_posting_id rows: 2008

In [8]:
# Drop duplicates based on job_posting_id
df = df.drop_duplicates(subset=["job_posting_id"], keep="first")

print("After deduplication:", df.shape)

After deduplication: (25994, 26)

In [9]:
print("Column Names in Dataset:\n")
for i, col in enumerate(df.columns, start=1):
    print(f"{i}. {col}")

Column Names in Dataset:

1. url
2. job_posting_id
3. title_id
4. company_id
5. job_title
6. company_name
7. company_url
8. company_logo
9. job_location
10. country_code
11. job_seniority_level
12. job_employment_type
13. job_industries
14. job_summary
15. job_function
16. job_num_applicants
17. application_availability
18. apply_link
19. base_salary
20. job_base_pay_range
21. job_posted_date
22. job_posted_time
23. job_poster
24. job_description_formatted
25. discovery_input
26. salary_standards

In [10]:
df.isna().sum().sort_values(ascending=False)

salary_standards             21961
job_base_pay_range           21350
apply_link                    3787
job_description_formatted     2164
country_code                  2095
job_poster                    2092
job_posted_date               2065
discovery_input               2058
job_posted_time               2002
application_availability       702
title_id                       366
company_logo                   318
base_salary                    182
job_function                    56
job_industries                  32
job_employment_type             29
job_seniority_level             28
company_name                     7
company_id                       5
company_url                      5
job_title                        3
job_location                     2
job_summary                      2
job_posting_id                   0
url                              0
job_num_applicants               0
dtype: int64

In [11]:
drop_cols = [
    "title_id", "company_id", "company_logo",
    "job_poster", "job_description_formatted","discovery_input"
]

In [12]:
df = df.drop(columns=drop_cols, errors="ignore")

print("Remaining columns:", df.columns.tolist())

Remaining columns: ['url', 'job_posting_id', 'job_title', 'company_name', 'company_url', 'job_location', 'country_code', 'job_seniority_level', 'job_employment_type', 'job_industries', 'job_summary', 'job_function', 'job_num_applicants', 'application_availability', 'apply_link', 'base_salary', 'job_base_pay_range', 'job_posted_date', 'job_posted_time', 'salary_standards']

Extract job descriptionS

In [13]:
!pip install pycountry

Requirement already satisfied: pycountry in c:\users\swast\appdata\local\programs\python\python313\lib\site-packages (24.6.1)

In [14]:
!pip install pycountry ftfy

Requirement already satisfied: pycountry in c:\users\swast\appdata\local\programs\python\python313\lib\site-packages (24.6.1)
Requirement already satisfied: ftfy in c:\users\swast\appdata\local\programs\python\python313\lib\site-packages (6.3.1)
Requirement already satisfied: wcwidth in c:\users\swast\appdata\local\programs\python\python313\lib\site-packages (from ftfy) (0.2.14)

In [15]:
import re
import ftfy
import pycountry
import pandas as pd

# --- Build lookups ---
NAME_TO_A2 = {}
for c in pycountry.countries:
    NAME_TO_A2[c.name.lower()] = c.alpha_2
    if hasattr(c, "official_name"):
        NAME_TO_A2[c.official_name.lower()] = c.alpha_2

# Extra aliases
NAME_TO_A2.update({
    "united states": "US", "u.s.": "US", "usa": "US", "u.s.a": "US",
    "united kingdom": "GB", "uk": "GB", "u.k.": "GB",
    "türkiye": "TR", "turkiye": "TR", "turkey": "TR",
    "south korea": "KR", "republic of korea": "KR",
    "north korea": "KP",
    "russia": "RU",
    "czechia": "CZ", "czech republic": "CZ",
    "viet nam": "VN"
})

A2 = {c.alpha_2 for c in pycountry.countries}
A3_TO_A2 = {c.alpha_3: c.alpha_2 for c in pycountry.countries}

US_STATES = {
    "AL","AK","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA",
    "KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ",
    "NM","NY","NC","ND","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VT",
    "VA","WA","WV","WI","WY","DC","PR"
}

NAME_PATTERNS = sorted(NAME_TO_A2.keys(), key=len, reverse=True)
NAME_PATTERNS = [(re.compile(rf"(?<!\w){re.escape(n)}(?!\w)", re.IGNORECASE), NAME_TO_A2[n]) for n in NAME_TO_A2]

TRAILING_CODE_RE = re.compile(r"[\s,()\-\u2013\u2014]+([A-Za-z]{2,3})\s*$")

def derive_country_code(location: str, existing_code: str | None = None) -> str | None:
    """Standardize country code from job_location + existing country_code"""
    if pd.notna(existing_code) and str(existing_code).strip():
        code = str(existing_code).strip().upper()
        if code in A2:
            return code

    if not isinstance(location, str) or not location.strip():
        return None

    text = ftfy.fix_text(location).strip()
    lower = text.lower()

    # 1) Match full country names
    for pat, code in NAME_PATTERNS:
        if pat.search(lower):
            return code

    # 2) US states → US
    tokens = re.findall(r"[A-Za-z]+", text.upper())
    if any(tok in US_STATES for tok in tokens):
        return "US"

    # 3) Trailing codes (", TR", "(IND)")
    m = TRAILING_CODE_RE.search(text)
    if m:
        trailing = m.group(1).upper()
        if trailing in A2:
            return trailing
        if trailing in A3_TO_A2:
            return A3_TO_A2[trailing]

    # 4) Standalone codes (avoid substrings like 'IS' in 'Istanbul')
    for tok in tokens:
        if tok in A2:
            return tok
        if tok in A3_TO_A2:
            return A3_TO_A2[tok]

    return None

In [16]:
df["country_code_std"] = df.apply(
    lambda r: derive_country_code(r.get("job_location", ""), r.get("country_code")),
    axis=1
)

# Inspect problematic rows
print(df.loc[[1,2,3,4], ["job_location","country_code","country_code_std"]])

                   job_location country_code country_code_std
1                      Erie, PA          NaN               US
2  Istanbul, Istanbul, TÃ¼rkiye          NaN               TR
3   Bengaluru, Karnataka, India          NaN               IN
4                  Torrance, CA           US               US

In [17]:
print(df.loc[[1,2,3,4,5,6,7,8,9,10], ["job_location","country_code","country_code_std"]])

                      job_location country_code country_code_std
1                         Erie, PA          NaN               US
2     Istanbul, Istanbul, TÃ¼rkiye          NaN               TR
3      Bengaluru, Karnataka, India          NaN               IN
4                     Torrance, CA           US               US
5      TimiÅŸoara, TimiÅŸ, Romania          NaN               RO
6      North Dakota, United States          NaN               US
7   MedellÃ­n, Antioquia, Colombia          NaN               CO
8      Bengaluru, Karnataka, India          NaN               IN
9                      Raleigh, NC           US               US
10                     Buffalo, NY           US               US

canonicalize job_industries and job_function so you have clean, consistent categories for analysis and matching.

In [18]:
#Setup helpers (split, normalize, map synonyms)
import re
import pandas as pd

# Flexible multi-value separators: comma, semicolon, slash
SEP_RE = re.compile(r"\s*[,;/]\s*")

def split_normalize(cell: str):
    """Split a multi-valued string to a list of lowercased, trimmed tokens."""
    if pd.isna(cell) or str(cell).strip() == "":
        return []
    items = [x.strip().lower() for x in SEP_RE.split(str(cell)) if x.strip() != ""]
    # Normalize basic punctuation/spacing to underscores
    items = [re.sub(r"\s+", " ", x) for x in items]      # collapse spaces
    items = [x.replace("&", " and " ) for x in items]    # unify '&' → 'and'
    items = [re.sub(r"\s+", "_", x.strip()) for x in items]  # spaces → underscores
    return items

def dedupe_preserve_order(items):
    seen, out = set(), []
    for x in items:
        if x not in seen:
            seen.add(x); out.append(x)
    return out

In [19]:
#Define synonym maps (edit/extend to your data)
# INDUSTRY synonyms → canonical labels
INDUSTRY_SYNONYMS = {
    "information_technology_and_services": "information_technology",
    "information_technology": "information_technology",
    "it_services": "information_technology",
    "computer_software": "software",
    "software": "software",
    "internet": "software",
    "financial_services": "finance",
    "banking": "finance",
    "capital_markets": "finance",
    "insurance": "insurance",
    "health_care": "healthcare",
    "healthcare": "healthcare",
    "biotechnology": "biotech",
    "biotech_research": "biotech",
    "medical_devices": "medical_devices",
    "pharmaceuticals": "pharma",
    "management_consulting": "consulting",
    "professional_services": "consulting",
    "retail": "retail",
    "e_commerce": "ecommerce",
    "ecommerce": "ecommerce",
    "education_management": "education",
    "e_learning": "education",
    "higher_education": "education",
    "telecommunications": "telecom",
    "semiconductors": "semiconductors",
    "electronics": "electronics",
    "automotive": "automotive",
    "logistics_and_supply_chain": "logistics",
    "transportation_trucking_railroad": "transportation",
}

# FUNCTION synonyms → canonical labels
FUNCTION_SYNONYMS = {
    "engineering": "engineering",
    "software_engineering": "engineering",
    "data_engineering": "data_engineering",
    "machine_learning_engineering": "ml_engineering",
    "devops": "devops",
    "site_reliability_engineering": "sre",
    "it": "it",
    "information_technology": "it",

    "data_science": "data_science",
    "data_analysis": "data_analytics",
    "analytics": "data_analytics",
    "business_analysis": "business_analytics",
    "business_analytics": "business_analytics",
    "bi": "business_intelligence",
    "business_intelligence": "business_intelligence",

    "product_management": "product_management",
    "project_management": "project_management",
    "program_management": "program_management",

    "marketing": "marketing",
    "digital_marketing": "marketing",
    "sales": "sales",
    "customer_success": "customer_success",
    "operations": "operations",
    "finance": "finance",
    "human_resources": "hr",
    "people_operations": "hr",
    "design": "design",
    "ux": "design",
    "ui_ux": "design",
}

In [20]:
#Canonicalize both columns → list + string columns
#This produces:job_industries_std / job_function_std: lists & job_industries_std_str / job_function_std_str: comma-separated strings
def canonicalize_list(cell, synonyms):
    items = split_normalize(cell)
    # map synonyms; if no mapping, keep original
    items = [synonyms.get(x, x) for x in items]
    # dedupe while preserving order
    items = dedupe_preserve_order(items)
    return items

# Ensure columns exist
for col in ["job_industries", "job_function"]:
    if col not in df.columns:
        df[col] = pd.Series(dtype="object")

df["job_industries_std"] = df["job_industries"].apply(lambda x: canonicalize_list(x, INDUSTRY_SYNONYMS))
df["job_function_std"]  = df["job_function"].apply(lambda x: canonicalize_list(x, FUNCTION_SYNONYMS))

# Also provide string versions for easy storage/filtering
df["job_industries_std_str"] = df["job_industries_std"].apply(lambda lst: ", ".join(lst) if lst else pd.NA)
df["job_function_std_str"]   = df["job_function_std"].apply(lambda lst: ", ".join(lst) if lst else pd.NA)

df[["job_industries","job_industries_std_str","job_function","job_function_std_str"]].head(10)

,job_industries,job_industries_std_str,job_function,job_function_std_str
0,Information Technology & Services,information_technology,Business Development and Sales,business_development_and_sales
1,"Accounting, Financial Services, and Banking","accounting, finance, and_banking",Finance and Sales,finance_and_sales
2,IT Services and IT Consulting,it_services_and_it_consulting,Information Technology,it
3,IT Services and IT Consulting,it_services_and_it_consulting,Purchasing and Supply Chain,purchasing_and_supply_chain
4,Motor Vehicle Manufacturing,motor_vehicle_manufacturing,Legal,legal
5,Professional Services,consulting,Accounting/Auditing and Finance,"accounting, auditing_and_finance"
6,Insurance,insurance,Health Care Provider,health_care_provider
7,Manufacturing,manufacturing,Finance,finance
8,IT Services and IT Consulting,it_services_and_it_consulting,Other,other
9,Engineering Services,engineering_services,Business Development and Sales,business_development_and_sales

In [21]:
df[["job_industries","job_industries_std_str","job_function","job_function_std_str"]].head(30)

,job_industries,job_industries_std_str,job_function,job_function_std_str
0,Information Technology & Services,information_technology,Business Development and Sales,business_development_and_sales
1,"Accounting, Financial Services, and Banking","accounting, finance, and_banking",Finance and Sales,finance_and_sales
2,IT Services and IT Consulting,it_services_and_it_consulting,Information Technology,it
3,IT Services and IT Consulting,it_services_and_it_consulting,Purchasing and Supply Chain,purchasing_and_supply_chain
4,Motor Vehicle Manufacturing,motor_vehicle_manufacturing,Legal,legal
5,Professional Services,consulting,Accounting/Auditing and Finance,"accounting, auditing_and_finance"
6,Insurance,insurance,Health Care Provider,health_care_provider
7,Manufacturing,manufacturing,Finance,finance
8,IT Services and IT Consulting,it_services_and_it_consulting,Other,other
9,Engineering Services,engineering_services,Business Development and Sales,business_development_and_sales
10,IT Services and IT Consulting and Financial Se...,it_services_and_it_consulting_and_financial_se...,Marketing and Sales,marketing_and_sales
11,Software Development,software_development,"Research, Analyst, and Information Technology","research, analyst, and_information_technology"
12,Government Administration,government_administration,Finance and Sales,finance_and_sales
13,Insurance,insurance,Other,other
14,Utilities,utilities,Engineering and Information Technology,engineering_and_information_technology
15,Urban Transit Services,urban_transit_services,Accounting/Auditing and Finance,"accounting, auditing_and_finance"
16,Biotechnology Research,biotechnology_research,Management and Manufacturing,management_and_manufacturing
17,"Motor Vehicle Manufacturing, Appliances, Elect...","motor_vehicle_manufacturing, appliances, elect...",Finance and Sales,finance_and_sales
18,Hospitals and Health Care,hospitals_and_health_care,Information Technology,it
19,Higher Education,education,Accounting/Auditing and Finance,"accounting, auditing_and_finance"
20,Financial Services,finance,Information Technology,it
21,IT Services and IT Consulting,it_services_and_it_consulting,Project Management,project_management
22,Software Development,software_development,Information Technology,it
23,"Civil Engineering, Truck Transportation, and A...","civil_engineering, truck_transportation, and_a...",Sales and Business Development,sales_and_business_development
24,Software Development,software_development,"Research, Analyst, and Information Technology","research, analyst, and_information_technology"
25,Environmental Services,environmental_services,Information Technology,it
26,Computer and Network Security,computer_and_network_security,Finance and Sales,finance_and_sales
27,"Computer and Network Security, Software Develo...","computer_and_network_security, software_develo...","Research, Analyst, and Information Technology","research, analyst, and_information_technology"
28,"Accounting, IT Services and IT Consulting, and...","accounting, it_services_and_it_consulting, and...",Finance and Sales,finance_and_sales
29,Banking and Financial Services,banking_and_financial_services,Finance and Sales,finance_and_sales

In [22]:
#Create long mapping tables + one-hot encodings
# LONG: explode to one row per (job_posting_id, value)
inds_long = (
    df[["job_posting_id","job_industries_std"]]
    .explode("job_industries_std")
    .dropna()
    .rename(columns={"job_industries_std":"industry"})
)

func_long = (
    df[["job_posting_id","job_function_std"]]
    .explode("job_function_std")
    .dropna()
    .rename(columns={"job_function_std":"function"})
)

# WIDE: one-hot features
inds_dummies = pd.crosstab(inds_long["job_posting_id"], inds_long["industry"]).add_prefix("ind_")
func_dummies = pd.crosstab(func_long["job_posting_id"], func_long["function"]).add_prefix("func_")

# Merge back (left-join so we keep all jobs)
df = df.merge(inds_dummies, left_on="job_posting_id", right_index=True, how="left")
df = df.merge(func_dummies, left_on="job_posting_id", right_index=True, how="left")

# Fill NaNs from dummy merge with 0
dummy_cols = [c for c in df.columns if c.startswith("ind_") or c.startswith("func_")]
df[dummy_cols] = df[dummy_cols].fillna(0).astype(int)

print("Added one-hot columns:", len(dummy_cols))

Added one-hot columns: 932

In [23]:
#Sanity checks
print("\nSample canonicalization:")
print(
    df[["job_industries", "job_industries_std_str", "job_function", "job_function_std_str"]]
      .dropna(how="all").head(8)
)

print("\nTop industries:")
print(inds_long["industry"].value_counts().head(15))

print("\nTop functions:")
print(func_long["function"].value_counts().head(15))

Sample canonicalization:
                                job_industries  \
0            Information Technology & Services
1  Accounting, Financial Services, and Banking
2                IT Services and IT Consulting
3                IT Services and IT Consulting
4                  Motor Vehicle Manufacturing
5                        Professional Services
6                                    Insurance
7                                Manufacturing

             job_industries_std_str                     job_function  \
0            information_technology   Business Development and Sales
1  accounting, finance, and_banking                Finance and Sales
2     it_services_and_it_consulting           Information Technology
3     it_services_and_it_consulting      Purchasing and Supply Chain
4       motor_vehicle_manufacturing                            Legal
5                        consulting  Accounting/Auditing and Finance
6                         insurance             Health Care Provider
7                     manufacturing                          Finance

               job_function_std_str
0    business_development_and_sales
1                 finance_and_sales
2                                it
3       purchasing_and_supply_chain
4                             legal
5  accounting, auditing_and_finance
6              health_care_provider
7                           finance

Top industries:
industry
hospitals_and_health_care        5777
retail                           1802
staffing_and_recruiting          1145
it_services_and_it_consulting    1100
finance                           944
software_development              837
education                         752
technology                        721
information_and_internet          703
non-profit_organizations          692
hospitality                       631
construction                      599
government_administration         555
restaurants                       526
food_and_beverage_services        499
Name: count, dtype: int64

Top functions:
function
health_care_provider                      6301
management_and_manufacturing              4315
other                                     3239
sales_and_business_development            1621
it                                        1605
engineering_and_information_technology    1487
education_and_training                     951
and_information_technology                 870
administrative                             656
finance_and_sales                          601
analyst                                    558
research                                   515
business_development_and_sales             457
creative                                   385
design                                     384
Name: count, dtype: int64